.todoContainer
{
    margin-bottom: 100px;
    margin-top: 40px;
    
}

.addtaskContainer
{
    padding-top: 17px;
    padding-left: 30px;
    padding-right: 35px;
    border-radius: 10px;
    border: 1px solid;
}
.card
{
    width: 18rem;
}